<!DOCTYPE html>
  <head>
    <title>test</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    {{>header}}
    <img src="https://picsum.photos/seed/picsum/200/300" alt="">
    <p>This site was created by Sam. It uses data from mapbox.com and weatherstack.com.</p>
    {{>footer}}
  </body>
</html>